
/*
    #D09BE5
    #8a05be
    
*/
body{
    background-color: #f7f7f7;
}

.content{
    padding: 0rem;
    background-color: #f5f5f5;
}

.content-section{
    padding: 2rem;
    margin: 2rem;
    letter-spacing: 0.005rem !important;
}

h1, h2, h3, h4, h5, h6{
    color: #808080;
    
}

.main-side-section{
    background-color: #126877;
}

.side-section{
    background-color: #eeeeee;
}

.side-section strong{
    
}

.description{
    color: #5e7f88;
}

/* resume */
.resume{
    rotate: 0deg;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    line-height: 2;
    color: #243d44;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
    
}

.resume h1{
    color: #8a05be;
}

.side-section{
    color: #aaaaaa;
}

.external-links > p > a{
    color: #aaaaaa;
}

.external-links > p > a:hover{
    color: #8a05be;
}

.hr-line{
    border-color: #8a05be;
    border-width: 2px 0 0;
    margin: 0 0 3rem 3rem;
    width: 10%;
}

.hr-dots{
    border-color: #8a05be;
}

.nu-logo{
    fill: #8a05be;
}