
/*
    #222831
    #30475e
    #f2a365
    #ececec

    #726a95
    #709fb0
    #a0c1b8
    #f4ebc1

    #092532
    #89c9b8
    #c7e2b2
    #e1ffc2

    #243d44
    #167a8b
    #2dea8f
    #24b273

*/
body{
    font-family: 'Ubuntu', 'serif';
}

.content{
    padding: 2rem;
    background-color: #167a8b;
    color: #e0e0e0;
    border-radius: 3px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather';
    text-transform: capitalize !important;
    margin: 1rem 0;
    color: #fff;
    
}

.fas{
    padding: 10px 10px 0;
}

#cv-section{
    margin: 4rem auto;
}

#cv-section > .row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* side section */

.main-side-section{
    border-radius: 3px 3px 0 0;
    background-color: #126877;
    
}

.side-section{
    padding-top: 1rem;
    padding-left: 3rem;
    background-color: #126877;
    /*border-color: #726a95;
    border-style: solid;
    border-width: 0 3px 0 0;*/
}

.side-section strong{
    
}

/* main section */
.main-section{
    padding: 1rem 0 1rem 4rem;
}

.content-section{
    padding: 0 0 0 1rem;
}

.content-subsection{
    padding: 0 0 0 1rem;
}

.subtitle{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.description{
 color: #bbbbbb;
}

.sangria{
    padding-left: 3rem;
}

/* picture */
.picture{
    margin-top: 1rem;    
    text-align: center;
    padding: 2rem 1rem 1rem;
}

.picture img{
    border-radius: 50%;
    border-width: 5px;
    border-color: #fff;
    border-style: solid;
    width: 60%;
}

/* resume */
.resume{
    rotate: -1deg;
    background-color: #a0c1b8;
    /*border-color: #726a95;
    border-width: 0 0 3px;
    border-style: solid;*/
    padding: 1rem;
    border-radius: 5px;
    line-height: 2;
    color: #243d44;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}

.resume h1{
    color: #243d44;
    text-decoration: underline;
}

.resume p{
    padding: 0 1rem;
    text-align: justify;
    letter-spacing: 0.05rem;
}

/* external links */
.external-links{
    
}

.external-links > p > a{
    color: #e0e0e0;
    padding: 1rem;
    outline: none;
}

.external-links > p > a:hover{
    color: #2dea8f;
}

/* sebas does */
.sebas-does p{
    margin: 0;
}

.hobbies{
    text-align: left;    
    border-radius: 0 0 3px 3px;
}

.hobbies p{
    padding: 0 1rem;
}

.skills p{
    line-height: 0.5;
    margin: 0;
}

.skills{
    line-height: 0.5;
    margin: 0;
}

/* contact me */
.contact-me  .external-link2{
    padding-left: 0;
}

.contact-me h6{
    margin-bottom: 0;
}

/* stars */
.star{
    color: #f2a365;
}

.no-star{
    color: #323232;
}

/* hrs */

.hr-line{
    display: flex;
    justify-content: left;
    border-width: 3px;
    border-color: #89c9b8;
    width: 90%;
    text-align: left;
    margin: 0 0 1rem;
}

.hr-dots{
    display: flex;
    justify-content: left;
    border-width: 4px 0 0;
    border-color: #89c9b8;
    width: 90%;
    text-align: left;
    margin: 0 0 1rem;
    border-style: dotted;
    width: 30%;
}